@media screen and (min-device-width: 992px) and (max-device-width: 1199px) {
  .event-page {
    &__section1 {
      .list {
        width: 90%;
      }
    }
    &__section2 {
      .wrap {
        width: 90%;
      }
    }
    &__section3 {
      .wrap {
        width: 90%;
      }
    }
    &__section4 {
      .list {
        width: 90%;
      }
    }
    &__section5 {
      .list {
        width: 90%;
      }
    }
  }

  //Footer
  .footer {
    .subscribe {
      h4 {
        width: 90%;
      }
      form {
        width: 90%;
      }
      p {
        width: 90%;
      }
    }
    .foot {
      width: 90%;
    }
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .event-page {
    &__section1 {
      .list {
        width: 90%;
      }
    }
    &__section2 {
      .wrap {
        width: 90%;
      }
    }
    &__section3 {
      .wrap {
        width: 90%;
        justify-content: center;

        .img {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 50%;
          position: relative;
          margin-right: 30px;

          img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
    &__section4 {
      .list {
        width: 90%;
        flex-wrap: wrap;

        &__item {
          width: calc(100% / 2 - 15px);
          margin-bottom: 30px;
        }
      }
    }
    &__section5 {
      .list {
        width: 90%;
      }
    }
  }
  //Footer
  .footer {
    .subscribe {
      h4 {
        width: 90%;
      }
      form {
        width: 90%;
      }
      p {
        width: 90%;
      }
    }
    .foot {
      width: 90%;
    }
  }
}

@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
  .event-page {
    &__section1 {
      h2 {
        width: 90%;
      }
      .list {
        width: 90%;

        &__item {
          width: calc(100% / 2 - 15px);
        }
      }
    }
    &__section2 {
      .wrap {
        width: 90%;
      }
    }
    &__section3 {
      .wrap {
        width: 90%;
        justify-content: center;

        .img {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 50%;
          position: relative;
          margin-right: 30px;

          img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
    &__section4 {
      h2 {
        width: 90%;
      }
      .list {
        width: 90%;
        flex-wrap: wrap;

        &__item {
          width: calc(100% / 2 - 15px);
          margin-bottom: 30px;
        }
      }
    }
    &__section5 {
      .list {
        flex-direction: column;

        width: 90%;

        &__item {
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
    &__section6 {
      iframe {
        width: 400px;
        height: 300px;
      }
    }
  }
  //Footer
  .footer {
    .subscribe {
      height: auto;
      padding-bottom: 30px;
      h4 {
        width: 90%;
      }
      form {
        width: 90%;
        flex-direction: column;

        input {
          width: calc(100% - 40px);
          margin-bottom: 20px;
        }
        button {
          width: 100%;
        }
      }
      p {
        width: 90%;
      }
    }
    .foot {
      width: 90%;
      height: auto;
      flex-direction: column;
      padding: 30px 0;

      &__left {
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-device-width: 480px) {
  .event-page {
    &__top {
      height: 300px;
      .wrap {
        h1 {
          width: 90%;
          text-align: center;
        }
        p {
          width: 90%;
          text-align: center;
        }
      }
    }
    &__top-slogan {
      display: none;
    }
    &__section1 {
      h2 {
        width: 90%;
      }
      .list {
        width: 90%;

        &__item {
          width: 100%;
        }
      }
    }
    &__section2 {
      .wrap {
        width: 90%;
      }
    }
    &__section3 {
      .wrap {
        width: 90%;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .img {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 50%;
          position: relative;
          margin-right: 0;
          margin-bottom: 30px;

          img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .info {
          width: 100%;

          h3,
          h2 {
            text-align: center;
          }
        }
      }
    }
    &__section4 {
      h2 {
        width: 90%;
        text-align: center;
      }
      .list {
        width: 90%;
        flex-wrap: wrap;

        &__item {
          width: 100%;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          p {
            text-align: center;
          }
        }
      }
    }
    &__section5 {
      .list {
        flex-direction: column;

        width: 90%;

        &__item {
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
    &__section6 {
      iframe {
        width: 280px;
        height: 140px;
      }
    }
  }
  //Footer
  .footer {
    .subscribe {
      height: auto;
      padding-bottom: 30px;
      h4 {
        width: 90%;
      }
      form {
        width: 90%;
        flex-direction: column;

        input {
          width: calc(100% - 40px);
          margin-bottom: 20px;
        }
        button {
          width: 100%;
        }
      }
      p {
        width: 90%;
      }
    }
    .foot {
      width: 90%;
      height: auto;
      flex-direction: column;
      padding: 30px 0;

      &__left {
        margin-bottom: 15px;
        p {
          font-size: 12px;
        }
      }
      &__right {
        p {
          width: 100%;
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}
