.header {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header_height;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;

  &__container {
    width: $content_width;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    .header-menu {
      height: 100%;
      display: flex;
      align-items: center;

      a {
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        color: $color_font;
        margin-left: 20px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: $color_secondary;
          transform: scaleX(0);
          transition: all 0.2s linear;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
