@import "./Components/Header/header";
@import "./Components/Footer/footer";
@import "./Pages/Home/home";
@import "./Pages/Solovyova/events";
@import "./Pages/Solovyova/media";
.page {
  margin: 0 auto;
  width: 100%;
  max-width: $max_width;
  margin-top: $header_height;
  background-color: $color_grey;
}
.disc-but {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: 2px solid $color_font;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color_font;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    -webkit-box-shadow: 0px 0px 14px 2px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 14px 2px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 14px 2px rgba(50, 50, 50, 0.5);
  }
}
.discount {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;

  span {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    background-color: $color_general;

    h2 {
      margin: 0 auto;
      color: $color_font;
      font-size: 18px;
      font-family: $font_title;
      margin-bottom: 30px;
      width: 240px;
      text-align: center;
    }
    input {
      width: 200px;
      border: none;
      border-radius: 5px;
      background-color: #fff;
      height: 40px;
      padding: 0 20px;
      font-family: $font_general;
      font-size: 14px;
      margin-bottom: 15px;
    }
    button {
      width: 240px;
      border-radius: 5px;
      background-color: $color_secondary;
      height: 40px;
      cursor: pointer;
      font-family: $font_general;
      font-size: 14px;
      color: $color_general;
      font-weight: bold;
      border: 1px solid $color_secondary;
      text-transform: uppercase;
      &:hover {
        background-color: $color_general;
        color: $color_secondary;
      }
    }
  }
}
.error {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 700;

  div {
    padding: 30px;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      color: #17181a;
      font-size: 16px;
    }

    .button {
      padding: 0;
      border-radius: 100px;
      background-color: $color_secondary;
      color: #fff;
      height: 40px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
      }
    }
  }
}
